# Add the following to your gitignore:

# Instance Sync
**/*.jar
!InstanceSync*.jar
**/*.jar.disabled
**/*.jar.meta

# Optional: Generic Modpack Ignores
**/*.log
/.mixin.out
/saves
/downloads
/resourcepacks
.curseclient
options.txt
logs/

realms_persistence.json

usercache.json

usernamecache.json

stdlib_Result$Error.class

stdlib_Result$Ok.class

ttt.class

XaeroWorldMap/

BotaniaVars.dat

patchouli_data.json
